<md-toolbar layout="row">
  <h1>Quick Exams</h1>
</md-toolbar>
<div flex layout="row">
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')">
    <header>
      <a href="/#/">
        <h1 class="md-heading">Quick Exams</h1>
      </a>
    </header>
    <a href="/#/users"><span>Users</span></a>
    <a href="/#/exams"><span>Exams</span></a>
  </md-sidenav>
  <md-content flex id="content">
    <h1>What is Quick Exams?</h1>
    <p>Quick Exams is a web application for creating, and taking exams.</p>
  </md-content>
</div>